gunicorn
dash_html_components==1.0.3
plotly==4.6.0
python_speech_features==0.6
scipy==1.4.1
matplotlib==3.2.1
numpy==1.18.3
dash==1.11.0
dash_defer_js_import==0.0.2
dash_core_components==1.9.1
scikit_learn==0.22.2.post1
